.button {
  width: auto;
  padding: 15px 20px;
  font-size: 20px;
  font-family: $font;
  background: $prussian-blue;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
} //amira e o prajitoare
