.hermes {
  width: 100vw;
  min-height: 100vh;
  background: url(../../public/images/ocean.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
