.icarus{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background: url(../../public/images/Ancient-Greek-City.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}