.styx {
  width: 100vw;
  min-height: 100vh;
  background: url(../../public/images/styx_back.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .txt {
    padding: 20px;
  }
  .joc {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    user-select: none;

    .cup {
      width: 300px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        transform: rotateX(180deg);
        cursor: pointer;
        transition: 0.3s ease-in-out;
        z-index: 4;
      }

      .active {
        transform: translateY(-250px) rotateX(180deg);
      }

      .coin {
        position: absolute;
        z-index: 2;
      }
    }
  }
}
.not {
  pointer-events: none;
}
