.tartar {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  background: url(../../public/images/tartar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  svg {
    margin: 75px 100px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

//amira e o prajitoare
