@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font: 'Roboto', sans-serif;;

$rich-black-fogra-29: #161925ff;
$prussian-blue: #23395bff;
$queen-blue: #406e8eff;
$cadet-grey: #8ea8c3ff;
$light-cyan: #cbf7edff;



//amira e o prajitoare